[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vs/
# Ignore tất cả .csproj, nhưng ngoại lệ cho project chính
*.csproj
!Assembly-CSharp.csproj
!Assembly-CSharp-Editor.csproj

# Ignore tất cả .sln, trừ file chính
*.sln
!My project.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
